body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
    font-weight: 600;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
input{
    padding: 5px;
    margin: 10px;
}
button{
    padding: 5px;
    width: 150px;
    margin-left: 120px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.box{
    margin-left: 50px;
}